<launch>
    
    <arg name="sendGoals" default="false"/>
    <arg name="enableExploration" default="false"/>
    <arg name="findAruco" default="false"/>

    <include file="$(find rl_fra2mo_description)/launch/spawn_fra2mo_gazebo.launch">
        <arg name="sendGoals" value="$(arg sendGoals)"/>
        <arg name="enableExploration" value="$(arg enableExploration)"/>
        <arg name="findAruco" value="$(arg findAruco)"/>
    </include>
    <include file="$(find rl_fra2mo_description)/launch/gmapping.launch"/>
    <include file="$(find fra2mo_2dnav)/launch/move_base.launch"/>

    <group if="$(arg findAruco)">
        <include file="$(find aruco_ros)/launch/usb_cam_aruco.launch"/>
    </group>

</launch>